---
Checks: '-*,bugprone-*,clang-analyzer-*,-clang-analyzer-cplusplus.Move,performance-*,portability-*'
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: 'clang-analyzer-*'
HeaderFilterRegex: '^(include|src|tests)/'
FormatStyle: none
